*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:rgb(255, 255, 255);
}
header{
    display: inline-block;position: relative;
}
.navbar{
    background-color:rgb(255, 255, 255) !important;
    border-bottom: 2px solid rgb(69, 69, 69);
    padding: 12px;
    display: block;
}
.navbar-brand{
    font-size: 2rem;
    font-weight: bolder;
}
.navbar-brand::after{
    content: ".Anything";
    color: orange;
    font-size: 2rem;
    font-weight: bolder;
    -webkit-text-stroke: 1px #fff;
}
.search{
    border-radius: 8px;
    border: 1px solid lightgrey;
    outline: none;

}

.fa-cart-shopping{
    color:white
}

.navbar-toggler{
    background-color: rgb(66, 184, 66);
}

.item,.amount{
    color: white;
    font-size: 1rem;
}

.card{
    background-color:rgb(255, 255, 255) !important;
    
}
.card-title{
    min-height: 50px;
}
.card-text{
    min-height: 30px;
}

.price-container {
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}