*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:rgb(255, 255, 255);
}
#header{
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar{
    background-color:rgb(255, 255, 255) !important;
    border-bottom: 1px solid rgb(147, 147, 147);
    padding: 12px;
    display: block;
}


.navbar-brand{
    font-size: 2rem;
    font-weight: bolder;
}
.navbar-brand::after{
    content: ".Anything";
    color: orange;
    font-size: 2rem;
    font-weight: bolder;
    -webkit-text-stroke: 1px #fff;
}
.search{
    border-radius: 8px;
    border: 1px solid lightgrey;
    outline: none;

}

.fa-cart-shopping{
    color:white
}

.navbar-toggler{
    background-color: rgb(66, 184, 66);
}

.item,.amount{
    color: white;
    font-size: 1rem;
}

.card{
    background-color:rgb(255, 255, 255) !important;
    
}
.card-title{
    min-height: 50px;
}
.card-text{
    min-height: 30px;
}

.price-container {
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
/* banner */
.banner-container img{
    width: 100%;
}

/* off-canvas */

.cart-img img{
    max-width: 100px;
    max-height: 100px;
}

.card{
    transition: 0.5s ease;
}
.card:hover{
    scale: 1.05;
}

/* Scroll to Top Button Styles */
#scrollTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #00521a;
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;
    display: none; /* Hidden by default */
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s, transform 0.3s;
}

/* Hover effect */
#scrollTopBtn:hover {
    background-color: #005606;
}

/* Show the button when scrolling */
.show {
    display: flex !important;
}

/* Footer */

footer{
    background-color: #333; 
    color: white; 
    padding: 20px; 
    text-align: center;
    margin-top: 20px;
}

footer a{
    color: white; 
    text-decoration: none;
}

/* Scroll bar */
.marquee-container {
    overflow: hidden;
    white-space: nowrap;
    color: white;
    padding: 10px 0;
    position: relative;
}

.marquee {
    display: inline-block;
    animation: marquee 30s linear infinite;
}


@keyframes marquee {
    0% { 
        transform: translateX(0%); 
    }
    100% {
        transform: translateX(-50%); 
    }
}

.logo {
    height: 150px; 
    margin-right: 50px;
    flex-shrink: 0; 
}

